
<h1><%= h @movie.title %> (<%= @movie.release_year %>)</h1>

<h2>Director</h2>
<% if director = @movie.participants.as_director.first -%>
  <% link_to director do -%>
    <%= h director.name %>
  <% end -%>
<% end -%>

<h2>Actors</h2>
<ul>
  <% @movie.participants.as_actor.each do |actor|  -%>
  <li>
    <% link_to actor do -%>
      <%= h actor.name %>
    <% end -%>
  </li>
  <% end -%>
</ul>


<p>
  <%= link_to 'Edit', edit_movie_path(@movie) %> |
  <%= link_to 'Back', movies_path %>
</p>
